// Colors
$brand-primary: #2C97DE;
$brand-success: #5cb85c !default;

// Scaffolding
$body-bg: #212121;
$text-color: #fff;
$body-bg-light: #262626;
$body-bg-dark: #1A1A1A;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 13px;
$line-height-base: 1.2;

// Tables
$table-bg-accent: #242424;
$table-border-color: #2d2d2d;
$table-bg-hover: #353535;

// Panels
$panel-bg: $body-bg-dark;
$panel-default-heading-bg: #282828;
$panel-default-text: #fff;
$panel-default-border: #333;
$panel-footer-bg: #282828;
$panel-inner-border: #333;

// Navbar
$navbar-border-radius: 0;
$navbar-inverse-color: #fff;
$navbar-inverse-bg: $body-bg-dark;
$navbar-inverse-border: #282828;
$navbar-margin-bottom: 0;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg: $brand-primary;
$navbar-inverse-brand-color: #fff;
$navbar-inverse-brand-hover-color: #fff;
$navbar-inverse-brand-hover-bg: #333;

// Forms
$input-bg: #353535;
$input-color: #eee;

// Pagination
$pagination-bg: $table-bg-accent;
$pagination-border: $table-border-color;
$pagination-disabled-border: $table-border-color;
$pagination-disabled-bg: $body-bg-dark;
$pagination-hover-color: #fff;
$pagination-hover-bg: darken($brand-primary, 10%);
$pagination-hover-border: lighten($brand-primary, 10%);

// Alerts
$alert-warning-bg: transparent;
$alert-warning-text: lighten(#8a6d3b, 10%);

// Type
$hr-border: lighten($table-border-color, 10%);
