// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "wow-classes";

// Icons
.wowicon {
    max-height: 20px;
    max-width: 20px;
    border-radius: 2px;
}
td .wowicon {
    margin-top: -4px;
    margin-bottom: -2px;
}
.regionicon {
    vertical-align: bottom;
}

// Panels
.panel-heading {
    text-transform: uppercase;
    font-family: $font-family-monospace;
    letter-spacing: 1px;
    font-size: 12px;
}

.page-header-bar {
    background-color: $body-bg-light;
    margin-bottom: 20px;
    padding: 20px;

    h1 {
        font-size: 22px;
        margin: 0;
    }
}

$footer-bg: $body-bg-dark;

.footer {
    background-color: $footer-bg;
    padding: 20px;
    margin-top: 20px;
    color: #666;
    box-shadow: 0px 500px 0px 500px $footer-bg;

    a {
        color: #777;
    }
}

$alert-border-color: lighten($table-border-color, 10%);

.alert {
    border-left-width: 3px;
    border-right-color: $alert-border-color;
    border-top-color: $alert-border-color;
    border-bottom-color: $alert-border-color;
}
