$color-deathknight: #C41F3B;
$color-demonhunter: #A330C9;
$color-druid: #FF7D0A;
$color-hunter: #ABD473;
$color-mage: #69CCF0;
$color-monk: #00FF96;
$color-paladin: #F58CBA;
$color-priest: #FFFFFF;
$color-rogue: #FFF569;
$color-shaman: #0070DE;
$color-warlock: #9482C9;
$color-warrior: #C79C6E;

.color-deathknight { color: $color-deathknight; }
.color-demonhunter { color: $color-demonhunter; }
.color-druid { color: $color-druid; }
.color-hunter { color: $color-hunter; }
.color-mage { color: $color-mage; }
.color-monk { color: $color-monk; }
.color-paladin { color: $color-paladin; }
.color-priest { color: $color-priest; }
.color-rogue { color: $color-rogue; }
.color-shaman { color: $color-shaman; }
.color-warlock { color: $color-warlock; }
.color-warrior { color: $color-warrior; }
